.header-box{
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    .heading-text{
        font-size: 2.2rem;
        letter-spacing: 2px;
    }
}