.product-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  .image-wrapper {
    min-width: 32rem;
    overflow: hidden;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    margin-right: 5rem;
    padding: 5rem;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    .title {
      display: block;
      text-align: center;
      font-size: 1.2rem;
    }
  }

  .text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    span {
      display: block;
      font-size: 1.4rem;
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
    button{
      align-self: flex-start;
      border: none;
      background-color: gray;
      padding: 0.5rem 2rem;
      font-size: 1.2rem;
    }
    padding: 1rem 2rem;
    align-self: stretch;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  }
}
